@charset "utf-8";
/* CSS Document */
.wrapper {
  margin: 1 auto;
  border: 7px solid lightblue;
  background-color: #006699; 
  width: 95%; 
  height: 350px;}

#adtitle {
  text-align: center; 
  border-bottom: 7px solid lightblue; 
  font-weight: bold; 
  font-size: 2.5em; 
  margin: 5px;}

#ad {
  position: relative; 
  width:99%; 
  padding:2%; }


