@charset "utf-8";
/* CSS Document */
.wrapper {margin: 1 auto;border: 7px solid lightblue; background-color: #006699; width: 94%; height: 300;}
#adtitle {text-align: center; border-bottom: 7px solid lightblue; font-weight: bold; font-size: 2.5em; margin: 5px;}

#ad {position: relative;}
#ad {position: absolute; display: none;}
